*{
    margin: 0;
    padding: 0;
}
#container {
    height: 100vh;
    width: 100vw;
}

body {
    overflow-x: hidden;
}

.background-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    font-size: 35px;
    color: rgb(51, 45, 45);
}

.guide {
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.dropdown-back {

    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-item-back:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.home-head {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.home-head2 {
    font-family: "Playwrite DK Uloopet", cursive;
}

.card-css {
    width: 100vw;
    border: solid 1px;
}

.home-content {
    font-size: 70px;
}

.card-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card-container:hover {
    transform: scale(1.05);
}

.carousel-fixed-height {
    height: 400px;
    object-fit: cover;
}

.img-content{
    height: 150px;
    width: 250px;
    margin-left: 45px;
    opacity: 0;
    position: absolute;
   top: 200px; 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.container-n:hover .img-content{
    opacity: 1;
    transform: translatey(-125%);

}

.img-con:hover {
    opacity: 0.4    ;
}
.container-n {
    height: 250px;
    width: 300px;
    position: relative; 
}

.top {
    margin-top: 20px;
}
hr{
    width: 80%;
    margin:2% 10% 2% 10%;
}
.feature-img{
    width: 100px;
    height: 100px;
}
a .fab {
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
}

a:hover .fab {
    transition: 0.5s;
    color: aliceblue;
    background-color:black;
}


@media(max-width:780px) {

    .home-content {
        font-size: 50px;
    }


}


@media(max-width:540px) {

    .home-content {
        font-size: 30px;
    }


}